{% extends "leiaute.html" %}
{% block body %}
  <ul class="entradas">
  {% for campanha in resultado %}
    <li><h2>{{ campanha.nome }}</h2>{{ campanha.sistema }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}