{% extends "leiaute.html" %}
{% block body %}
	<table>
		<tr>
			<th>Campanha</th>
			<th>Jogador</th>
			<th>Parada</th>
			<th>Resultado</th>
		</tr>
		{% for rolagem in resultado %}
		<tr>
			<td>{{ rolagem.campanha.nome }}</td>
			<td>{{ rolagem.jogador }}</td>
			<td>{{ rolagem.parada }}</td>
			<td>{{ rolagem.resultado }}</td>
		</tr>
		{% endfor %}
	</table>
{% endblock %}